// import functions and variables to access colors and add new
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
$custome-theme-colors: (
  'primary': #00b050
);
$theme-colors: map-merge($theme-colors, $custome-theme-colors);

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';

.text-justify {
  text-align: justify;
}

.branch-button {
  margin: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.branch-button.active {
  border-color: #007bff;
  background-color: #e6f7ff;
}

.footer-links a {
  text-decoration: none; /* Removes underline by default */
  color: white; /* Ensures links are visible on a dark background */
  transition: color 0.3s, text-decoration 0.3s;
}

.footer-links a:hover {
  text-decoration: underline; /* Adds underline on hover */
  color: #00b050; /* Optional: Changes link color to Bootstrap primary color */
}


.feature-icon-wrapper {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px); /* Slight movement effect */

    .feature-icon-container {
      transform: scale(1.1);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .feature-icon {
      transform: scale(1.2);
    }
  }
}

.feature-icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-icon {
  color: #4e73df; /* Primary blue color */
  transition: transform 0.3s ease, color 0.3s ease;
}

header {
    background-color: #f8f8f8;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.2em;
    color: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a { /* Estilos para los enlaces de navegación */
    text-decoration: none;
    color: #555;
    padding: 5px 10px; /* Espaciado interno opcional para mejor interactividad */
    border-radius: 3px; /* Bordes ligeramente redondeados */
}

nav a.active { /* Estilo para el enlace activo */
    background-color: #00a651; /* O el color que prefieras */
    color: white;
}

.contact-button {
    background-color: #00a651;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.contact-button img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}